@font-face {
  font-family: 'Inter';
  src: url('~/static/fonts/Inter-VariableFont_slnt,wght.ttf') format('woff2 supports variations'),
       url('~/static/fonts/Inter-VariableFont_slnt,wght.ttf') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('~/static/fonts/JetBrainsMono-VariableFont_wght.ttf') format('woff2 supports variations'),
       url('~/static/fonts/JetBrainsMono-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 800;
  font-display: swap;
}
